# Ignore logs
*.log

# Ignore binaries
*.exe
*.dll
*.so
*.o
*.a

# Ignore directories
boilerplate_env/
image_env/
data/
weights/

notebook/*.pth
notebook/fkr5k-dataset/
notebook/fkr5k-dataset-5k/
notebook/dataset_images/
notebook/downloaded_images/

bin/
obj/
temp/

region_features/

